<!DOCTYPE html>
<html>
<head>
  <title>LattesServer</title>
  <%= stylesheet_link_tag    "lattes_server/application", media: "all" %>
  <%= javascript_include_tag "lattes_server/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
